body {
  font-family: Arial, sans-serif;
  background: #dbd4d4;
}

.form {
  background: rgb(10, 71, 98);
  padding: 16px;
  margin: 20px;
  border-radius: 6px;
}

.form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  padding-right:2px;
  width: 100%;
}

.form button {
  padding: 8px 12px;
}
.card {
  background: white;
  margin: 20px;
  padding: 12px;
  border-radius: 6px;
}

.card p {
  margin: 4px 0;
}

.delete {
  margin-top: 8px;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.delete:hover {
  opacity: 0.9;
}

.add:hover {
  opacity: 0.9;
}


.add{
    background: rgb(226, 186, 29);
    color:#fff;
}